<h1>Cadastrar Perfumes</h1>

<form action="/Perfumes/cadastro" method="POST">
    <label for="text">Nome Perfume</label>
    <input type="text" name="perfume" id="perfume">
    <button>Enviar</button>
</form>