<link rel="stylesheet" href="/css/layout.css">
<nav>
    <div class="links-nav">
       <a href="/home"><span>RYAN PERFUMES</span></a>
    </div>
    <div class="links-nav">
        <input type="search" placeholder="Buscar.....">
        <a href="/Perfumes">Produtos</a>
        <a href="/sobre">Sobre nós</a>
        <a href="/contato">Contato</a>
    </div>
    <div class="links-nav">
        <a href="/login">Login</a>
        <a href="/carrinho"><img src="/assets/carrinho.png" alt=""></a>
    </div>
</nav>

<section>
    <%- body%>
</section>

<footer>
    <span>
        outros links
    </span>
    <a href="/usuario/listar">Lista de usuarios</a>
    <a href="/usuario/cadastrar">Cadastro de usuarios</a>
</footer>