<link rel="stylesheet" href="/css/styles.css">
    <nav>
        <span>Ryan Perfumes</span>
       <ul>
            <li><a href="/">home</a></li>
            <li><a href="/Perfumes">Perfumes</a></li>
            <li><a href="/Perfumes/cadastro">Cadastrar Perfume</a></li>
       </ul>
    </nav>

<section>
    <%- body%>
</section>