<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-login.css">
    <title>Login</title>
</head>

<body>
    <div class="conteiner">
        <div class="img-Login">
            <img src="/img/img-login.jpg" alt="Login Image">
        </div>
    </div>
    <div class="conteiner">
        <div class="col-conteiner">
            <div class="saudacao">
                <img src="/assets/user-login.png"></img>
                <h1>Bem-vindo de volta!</h1>
                <span>Faça login para acessar sua conta</span>
            </div>
            <form action="/login/efetuarLogin" method="POST">
                <div class="input-conteiner">
                    <div class="label">
                        <img src="/assets/email-icon.png" alt="">
                        <label for="email">Email</label>
                    </div>
                    <input type="email" name="email" id="email" placeholder="Entre com seu email">
                </div>
                <div class="input-conteiner">
                    <div class="label">
                        <img src="/assets/senha-icon.png" alt="">
                        <label for="password">Senha</label>
                    </div>
                    <input type="password" name="senha" id="senha" placeholder="Entre com sua senha">
                </div>
                <div class="msg-erro">
                    <% if(typeof msg != 'undefined') { %>
                        <span> <%= msg %> </span>
                    <% } %>
                </div>
                <button type="button" id="btnLogin">Login</button>
            </form>
            <div class="login-google">
                <button><img src="/assets/google-icon.png" alt="Google"> Entre com o google</button>
            </div>
            <div class="cadastro">
                <span>Não tem uma conta? <a href="/usuario/cadastrar">Cadastre-se</a></span>
                <span>Esqueceu sua senha? <a href="/forgot-password">Clique aqui</a> para redefinir a senha</span>
            </div>
        </div>
    </div>
    <!-- SweetAlert2 (CDN) -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/login/efetuarLogin.js"></script>
</body>

</html>