 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    body {
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100%;
        background-color: #F9F7F2;
    }

    .conteiner {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .conteiner .img-Login img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .col-conteiner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80%;
        /* width: 80%; */
    }

    .saudacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    h1 {
        color: #5D4037;
    }

    .saudacao span {
        color: #827366;
        font-weight: 900;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 50%;
        /* border: 1px solid #ccc; */
    }
    .label{
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
    }
    .input-conteiner {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        font-size: 18px;
        color: #5D4037;
        /* border: 1px solid #ccc; */
    }

    .input-conteiner input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        outline: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease;
    }

    .input-conteiner input:focus {
        border-color: #D4AF37;
        outline-style: solid;
        outline-width: 5px;
        outline-color: rgb(212, 175, 55, 0.3);
    }

    form button {
        padding: 10px 20px;
        background-color: #D4AF37;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        width: 100%;
        font-weight: 400;
    }

    form button:hover {
        background-color: #B8860B;
    }

    .login-google {
        display: flex;
        justify-content: center;
        width: 100%;
        /* border: 1px solid #ccc; */
    }

    .login-google button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px 20px;
        background-color: #F9F7F2;
        color: #5D4037;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.2s ease;
        width: 100%;
        font-weight: 400;
    }

    .login-google button:hover {
        background-color: #f0f0f0;
    }

    .login-google button img {
        width: 20px;
        height: 20px;
    }
    .cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* border: 1px solid #ccc; */
    }
    .cadastro span {
        color: #5D4037;
        font-size: 16px;
    }
    .cadastro span a {
        color: #B8860B;
        text-decoration: none;
        font-weight: 500;
    }
    .msg-erro {
        text-align: center;
        color: red;
    }