<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-cad.css">
    <title>Cadastrar Usuario</title>
</head>

<body>
    <div class="conteiner-produto">
        <div class="saudacao">
            <h1>Cadastro de Perfume</h1>
             <span>Cadastre o seu perfume aqui! </span>
        </div>
        <div class="form-produto">
            <div>
                <label class="label" for="text">Nome</label>
                <input type="text" name="nome" id="nome">
            </div>
            <div>
                <label for="text">Marca</label>
                <input type="text" name="marca" id="marca">
            </div>
            <div>
                <label for="text">Quantidade</label>
                <input type="number" name="quant" id="quant" max="1000" min="0">
            </div>
            <div>
                <label for="text">Preço</label>
                <input type="number" name="preco" id="preco" step="0.01" min="1">
            </div>
            <div>
                <label for="text">Validade</label>
                <input type="date" name="validade" id="validade">
            </div>
            <div>
                <label for="text">Imagem</label>
                <input type="file" accept="image/png, image/jpeg, image/jpg" name="image" id="image">
                <p>Formato permitido: PNG ou JPEG</p>
            </div>
            <div id="divPrev">
                    <label for="text">Pré-visualização</label>
                    <img id="prevImage" src="#" alt="Pré-visualização da imagem" style="display: none; max-width: 200px; max-height: 200px;">
            </div>
            <div>
                <label for="text">Status</label>
                <select name="status" id="status">
                    <option value="1">Ativo</option>
                    <option value="0">Inativo</option>
                </select>
            </div>
            <div>
                <label for="text">Descrição</label>
                <textarea name="desc" id="desc"></textarea>
            </div>
            <div>
                <a href="/home">Voltar</a>
                <button type="button" class="btnCad" id="btnCad">Cadastrar</button>
            </div>

        </div>

    </div>
<!-- SweetAlert2 (CDN) -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Script that attaches delete handlers -->
 <script src="/js/produto/fetchCadastrar.js"></script>
</body>

</html>