<h1>Listar Usuario</h1>
<link rel="stylesheet" href="/css/style-list.css">
<div class="content">
  <div class="cadastrar">
    <a href="/usuario/cadastrar">Cadastrar Usuário +</a>
  </div>
</div>

<div class="table-container">
  <table class="user-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Perfil</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <%for(let i=0;i<lista.length;i++){%>
        <tr>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
          
          </td>
          <td>
           
          </td>
          <td>
            <button type="button"
                    class="btn-update"
                    data-update-id=""
                    data-update-nome=""
                    data-update-email=""
                    data-update-perfil="">
              <img src="/assets/pincel.png" alt="Edição">
            </button>
            <button type="button" data-id="" class="btn-delete"><img src="/assets/lixo.png"
                alt="lixeira"></button>
          </td>
        </tr>
        <%}%>
    </tbody>
  </table>
</div>
<!-- Modal (single, populated by JS) -->
<div class="modal" style="display:none">
  <div class="modal-card">
    <div class="title-modal"><span>Editar Usuário</span></div>
    <div class="form">
      <input type="hidden" id="usu_id_hidden" value="">
      <div>
        <label class="label" for="text">Nome</label>
        <input type="text" name="nome" id="nome" value="">
        <div class="msg-erro"></div>
      </div>
      <div>
        <label for="text">Email</label>
        <input type="text" name="email" id="email" value="">
      </div>
      <div>
        <label for="text">Perfil</label>
        <select name="perfil" id="perfil">
          <option value="0">--Selecionar--</option>
          <% for(let j = 0; j < listaPer.length; j++){ %>
            <option value=""></option>
          <% } %>
        </select>
      </div>
      <div class="btn-modal">
        <button class="btn-close" type="button">Cancelar</button>
        <button class="btn-salvar" type="button">Salvar</button>
      </div>
    </div>
  </div>
</div>
