
<div>
    <h1>Cadastro de Usuario</h1>
    <a href="/usuario/listar"></a>
</div>
<div>
    <div>
        <label for="text">Nome</label>
        <input type="text" name="nome" id="nome">
    </div>
    <div>
        <label for="text">Email</label>
        <input type="text" name="email" id="email">
    </div>
    <div>
        <label for="text">Senha</label>
        <input type="text" name="senha" id="senha">
    </div>
    <label for="text">Perfil</label>
    <select name="perfil" id="perfil">
        <% for(let i=0; i<lista.length; i++){ %>
            <option value="<%= lista[i].per_id %>"> <%= lista[i].per_nome %> </option>
        <% } %>
    </select>
    <div>
        <input type="checkbox" name="ativo" id="ativo" value="S">
    </div>
    <div>
        <button>Cadastrar</button>
        <a href="/home">Voltar</a>
    </div>

</div>
