<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-cad.css">
    <title>Cadastrar Usuario</title>
</head>

<body>
    <div class="conteiner">
        <div class="saudacao">
            <h1>Cadastro de Usuario</h1>
            <span>Caso ja tenha um login </span><a href="/login">Clique aqui</a> <span> para efetuar o
                login</span>
        </div>
        <div class="form">
            <div>
                <label class="label" for="text">Nome</label>
                <input type="text" name="nome" id="nome">
                <div class="msg-erro">

                </div>
            </div>
            <div>
                <label for="text">Email</label>
                <input type="text" name="email" id="email">
            </div>
            <div>
                <label for="text">Senha</label>
                <input type="password" name="senha" id="senha">
            </div>
            <div>
                <label for="text">Confirmar Senha</label>
                <input type="password" name="Csenha" id="Csenha">
            </div>
            <div>
                <label for="text">Perfil</label>
                <select name="perfil" id="perfil">
                    <option value="0">--Selecionar--</option>
                    <%for(let i=0;i < lista.length; i++){%>
                        <option value="<%= lista[i].per_id %>">
                            <%= lista[i].per_desc%>
                        </option>
                        <%}%>
                </select>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" name="ativo" id="ativo" value="S">
                <label for="ativo">Concordo com os termos</label>
            </div>
            <div>
                <button type="button" class="btnCad" id="btnCad">Cadastrar</button>
                <a href="/login">Voltar</a>
            </div>

        </div>

    </div>
<!-- SweetAlert2 (CDN) -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Script that attaches delete handlers -->
 <script src="/js/usuario/fetchCadastrar.js" ></script>
</body>

</html>